//Formato de el motor de plantillas. Ejemplos de funcionamiento basico.
<!DOCTYPE html>
    html
        head
            title Titulo de la pagina 
        body
            each color in colores
                span=color
            div
                h1  Hola este es un h1
                h2  Esto es un subtitulo
                div 
                    h3=hola
                    
            section
                div
                    ul
                       li  1
                        li  2
                        li  3
                        li  4
                            a(href="#")
                .container
                #identificator  
                #identificator.clase
                #identificator.clase1.clase2.clase3
                p.clase#identificator Lorem ipsum dolor sit amet consectetur adipisicing elit.
            footer  Este es el pie de pagina