//Formato de el motor de plantillas. Ejemplos de funcionamiento basico.
<!DOCTYPE html>
    html
        head
            title Titulo de la pagina 
        body
            //Anteponiendo un punto a una palabra creamos un div con la clase de dicha palabra            
            .container
            #identificator
            #identificator.clase
            #identificator.clase1.clase2.clase3
            p.clase#identificator